$color-primary: #377dff;
$color-secondary: #55bfd1;
$color-white: #fff;
$color-black: #000;


$white-background: #f0f0f0;
$dark-background: #242635;

$font-size-primary: 0.97rem;

$radius-primary: 0.4rem;
$box-shadow-primary: 0 0.06rem 0.56rem -0.12rem rgba($color-black, 0.3);